name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test on ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22, 24]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Node version
        run: node --version
      - name: Install packages
        run: npm ci
      - name: Run tests
        run: npm test
